{% extends 'core/../base.html' %}
{% load static %}

{% block title %}Acerca de{% endblock title %}

{% block background %}{% static 'img/about-bg.jpg' %}{% endblock background %}

{% block header %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'img/me.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Hola, soy Stephen Alarcón</h2>
            <p>Soy un ser humano con multiples talentos con experiencia en el desarrollo web y de software.</p>
            <p>No me gusta definirme por el trabajo que he hecho. Me defino por el trabajo que quiero hacer. Las habilidades se pueden enseñar, la personalidad es propia. Prefiero seguir aprendiendo, seguir desafiándome y hacer cosas interesantes que importen.</p>
            <p>Impulsado por altos niveles de energía y un entusiasmo ilimitado, me inspiro fácilmente y estoy más que dispuesto a seguir mis fascinaciones donde quiera que me lleven. Soy un espiritu apasionado, expresivo y varsátil con una habilidad natural para entender e inspirar. Nunca estoy satisfecho con solo pensar en ideas. En cambio, tengo una necesidad casi impulsiva de actuar sobre ellos.</p>
            <p>Mi abundante energía me impulsa en la búsqueda de muchos intereses, pasatiempos, áreas de estudio y esfuerzos artísticos. Aprendo rápido, soy capaz de adquirir nuevas habilidades y hacer pruebas con diferentes proyectos.</p>
            <p>Me gusta desarrollar experiencia en una seria de áreas a lo largo de mi vida y carrera. Actualmente trabajo de forma remota y estoy abierto a nuevas oportunidades.</p>
            <p>Puede leer más sobre mi experiencia, habilidades, educación y mucho más en el PDF adjunto a continuación:</p>
            <p><a href="https://smallpdf.com/es/result#r=c77ef4e64cd90cae98d7d52aa394294b&t=share-document"><strong>Mi currículum</strong></a></p>
        </div>
    </div>
{% endblock content %}