{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto{% endblock title %}

{% block background %}{% static 'img/contact-bg.jpg' %}{% endblock background %}

{% block header %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Busco oportunidades para colaborar con empresas/agencias/individuos, no solo trabajar para ellos. Quiero traer mi experiencia de diseño colectivo a la mesa donde podamos trabajar juntos para resolver problemas comerciales reales de una manera que optimice toda nuestra experiencia y conocimiento respectivos.</p>
            <p>Quiero evitar errores subjetivos y favorecer a los colabores de mente abierta. Si todo eso suena bien, entonces convercemos sobre cómo podemos trabajar juntos.</p>
            <p>No dude en comunicarse conmigo.</p>
            <br>
            <p><strong>Teléfono: </strong>+57 3014091603</p>
            <p><strong>Correo: </strong>slj212885@gmail.com</p>

        </div>
    </div>
{% endblock content %}