{% extends 'base.html' %}
{% load static %}

{% block title %}Portada{% endblock title %}
{% block background %}{% static 'img/home-bg.jpg' %}{% endblock background %}

{% block header %}
    <h1>Stephen Alarcón</h1>
    <span class="subheading">Desarrollador de Software</span>
{% endblock header %}
{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Me encantaría poder entrar a formar parte de una empresa en la que poder aplicar todos mis conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalment</p>
        <p>Gracias a mi formación especializada, considero que puedo aportar valor y seguir desarrollándome profesionalmente en una compañía que coincida con mis valores y expectativas.</p>
        <p>Como persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier circunstancia y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo que me esfuerzo por trabajar en equipo y fomentar valores como los del compañerismo.</p>
        <br>
    </div>
{% endblock content %}